*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 54, 195);
}
h1{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 5rem
}
img{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
iframe{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%
}